

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
header {
  padding: 20px 0;
  background: repeating-linear-gradient(45deg, #f0f2ed, #f0f2ed 20px, #f8f4eb 20px, #f8f4eb 40px);
  box-shadow: 0 4px 6px rgba(0,0,0,.2);  
}